.new_supplier{
	padding: 20px;
}
.list-supliers{
	padding: 0 20px;
	.actions{
		width:80px;
		.action-button {
			background:white;
			border:none;
			width: 30%;
			outline: none;
			&:hover{
				color:blue;
			}
		}
	}
}
