.dashboard {
    .date{
        text-transform: capitalize;
    }
    .box {
        padding: 10px;
        .buttons-row {
            margin-bottom: 11px;
            button{
                width: auto;
                height: 25px;
                background: inherit;
                background-color: rgba(1, 137, 169, 1);
                border: none;
                border-radius: 5px;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                font-family: 'Khand-Regular', 'Khand';
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                padding-top: 3px;
                a{
                    color:white;
                }
            }
        }
    }   
    .react-bs-container-header {
        .table{
            margin-bottom: 0;
            tr {
                th {
                    border-style: hidden !important;
                    border-bottom: dotted 1px black !important;
                }
            }
        }
    }

    .react-bs-container-body {
        .table{
            border-style: hidden !important;
            tbody{
                border-style: hidden !important;
                tr {
                    border-style: hidden !important;
                    border-left-width: 0;
                    td {
                        border-style: hidden !important;
                        border-left-width: 0;
                    }
                }
            }
        }
    }
}