.header {
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  background: #0189a9;
  min-height: 25px; }
  .header a {
    color: white !important; }
  .header .container-fluid {
    font-family: "Khand"; }
    .header .container-fluid .navbar-header .navbar-brand {
      width: 180px;
      margin-left: 5px; }
    .header .container-fluid .navbar-nav .navbar-form input {
      height: 20px !important; }
    .header .container-fluid .navbar-nav li {
      color: white; }
      .header .container-fluid .navbar-nav li a .user {
        margin-left: 10px; }
    .header .container-fluid .dropdown .dropdown-toggle {
      background: #0189a9;
      color: white; }
    .header .container-fluid .dropdown ul {
      background: #0189a9; }
