.header{
	border-radius: 0px;
	border:none;
	margin-bottom:0px;
	background: rgb(1, 137, 169);
	min-height:25px;
	a {
		color: white !important;
	}
	.container-fluid{
		font-family:"Khand";
		.navbar-header{
			.navbar-brand {
				width: 180px;
				margin-left: 5px;
			}
		}
		.navbar-nav{
			.navbar-form {
				input{
					height: 20px !important;
				}
				button {

				}
			}
			li {
				color:white;
			}
		}
		.dropdown{
			.dropdown-toggle {
				background: rgb(1, 137, 169);
				color: white;
			}
			ul{
				background: rgb(1, 137, 169);
			}
		}
	}
}