.table-responsive {
  padding: 5px;
  box-sizing: border-box;
  border: dashed 0.3px rgba(0, 0, 0, 0.2);
  padding: 20px 5px; }
  .table-responsive .dashed-border {
    box-sizing: border-box;
    margin: 0; }
    .table-responsive .dashed-border thead tr th {
      border-top: none;
      font-size: 11px;
      cursor: default; }
    .table-responsive .dashed-border tbody tr td {
      text-align: center; }
    .table-responsive .dashed-border h5 {
      position: absolute;
      top: -15px;
      padding: 0 5px;
      background-color: white; }
