.notifications .badge {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  font-size: .8em;
  background: #f72424;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
  padding: 0;
  padding-top: 1px;
  padding-left: 2px; }
  .notifications .badge p {
    font-weight: 400;
    margin-left: -2px; }

.notifications .dropdown .dropdown-menu {
  margin-right: -35px; }
