.form-group{
	.bootstrap-typeahead{
	    padding: 0 !important;
	    z-index: 0 !important;
	    padding:0;
		.bootstrap-typeahead-input{
			margin-top:-1px;
			margin-left:-1px;
			.form-control {
				border-right: none !important;
				height: 41px !important;
				border-radius: 0;
				outline: none;
				&:focus {
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
				}
			}
		}
		.bootstrap-typeahead-clear-button {
			&.close{
				z-index: 100;
			    position: absolute;
			    top: 17%;
			    right: 5%;
			    outline:none;
			}
		}
	}
	button{
	    position: absolute;
		top: 7px;
    	right: 0;
	}
}
