.wizardFooter{
	padding:20px 0px 20px 20px;
	button{
		border-radius: 5px;
		text-align:center;
		vertical-align:middle;
		&.abandon{
			float:left;
			color: rgb(1, 137, 169);
			border: 1px solid rgb(1, 137, 169);
		}
		&.next{
			float:right;
			background: rgb(1, 137, 169);
			color: white;
		}
	}
}