.wizardFooter {
  padding: 20px 0px 20px 20px; }
  .wizardFooter button {
    border-radius: 5px;
    text-align: center;
    vertical-align: middle; }
    .wizardFooter button.abandon {
      float: left;
      color: #0189a9;
      border: 1px solid #0189a9; }
    .wizardFooter button.next {
      float: right;
      background: #0189a9;
      color: white; }
