.wizardFooter{
	padding:0px 0px 20px 15px;
	a{
		width:80px;
		height:40px;
		border-radius: 2px;
		line-height:40px;
		text-align:center;
		vertical-align:middle;
		&.abandon{
			float:left;
			color: rgb(1, 137, 169);
			border: 1px solid rgb(1, 137, 169);
		}
		&.next{
			float:right;
			background: rgb(1, 137, 169);
			color: white;
		}
	}
}