.img_background {
  background: url("./imgs/background.png"); }
  .img_background .login-block {
    height: 100%; }
    .img_background .login-block .logo-box {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center; }
    .img_background .login-block .login-box {
      padding: 20px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 5px solid;
      padding: 20px;
      border-image: url("./imgs/trait.png") 27;
      border-right-width: 0; }
      .img_background .login-block .login-box .connexion {
        width: 100%; }
        .img_background .login-block .login-box .connexion span {
          display: inline-block; }
          .img_background .login-block .login-box .connexion span.button {
            float: right; }
