.SingleDatePicker {
	display: block !important;
	.SingleDatePickerInput {
		height: 32px;
		.DateInput{
		    font-size: 16px;
    		padding: 5px 5px 0px 12px;
			.DateInput__display-text {
				padding: 0;
			}			
		}
	}
}